/**
 * Общая позиция чата
 */

/* позиция текста чатика */
.a11y-font-scaled-down .cozy-VmLDNB.wrapper-30-Nkg,
.cozy-VmLDNB.wrapper-30-Nkg{
    padding-left: 3.2rem;
    padding-right: 10px;
}

/* для аватарок */
.a11y-font-scaled-down .cozy-VmLDNB,
.a11y-font-scaled-down .cozy-VmLDNB.wrapper-30-Nkg .avatar-2e8lTP {
    left: 0.3rem;
}

/* выравнивание метки времени */
.a11y-font-scaled-down .cozy-VmLDNB .timestamp-p1Df1m.alt-1dvXnH,
.cozy-VmLDNB .timestamp-p1Df1m.alt-1dvXnH {
    transform: translateX(-0.8rem);
}
