/**
 * Блок кода (light-only)
 */
.theme-light .markup-eYLPri code {
    border: 1px solid var(--theme-mlight-color-3);
    background: var(--theme-mlight-color-1);
}

/**
 * «Цитаты»
 */
.blockquoteContainer-3VtvI1 blockquote {
    padding: 2px 8px 3px 11px;
}