/**
 * Комнаты, меньше ширина
 */
.sidebar-1tnWFu {
    width: 220px;
}

/**
 * Участники, меньше ширина
 */
.membersWrap-3NUR2t, .members-3WRCEx {
    min-width: 200px;
    width: 200px;
}