/**
 * Компактная тема
 */
/* скрытие повторов ников */
.message-2qnXI6.compact-T3H92H:not(.groupStart-23k01U) .username-1A8OIy {
    display: none;
}
.compact-T3H92H.wrapper-2a6GCs {
    padding-left: 2.8rem;
}
.compact-T3H92H .contents-2mQqc9 {
    text-indent: -2.8rem;
}

/* метки времени */
.compact-T3H92H .timestamp-3ZCmNB {
    width: 3.2em;
    height: 1.5em;
    overflow: hidden;
}
.separator-2nZzUB {
    display: none;
}