/**
 * Компактная тема
 */
/* скрытие повторов ников */
.message-2CShn3.compact-2Nkcau:not(.groupStart-3Mlgv1) .username-h_Y3Us{
    display: none;
}
.message-2CShn3.compact-2Nkcau:not(.groupStart-3Mlgv1) .headerText-2z4IhQ {
    margin-right: 0;
}
.compact-2Nkcau.wrapper-30-Nkg {
    padding-left: 2.8rem;
}
.compact-2Nkcau .contents-2MsGLg {
    text-indent: -2.8rem;
}

/* метки времени */
.compact-2Nkcau .timestamp-p1Df1m {
    width: 3.2em;
    height: 1.5em;
    overflow: hidden;
    text-indent: 0;
}
.separator-AebOhG {
    display: none;
}