/**
 * Поле ввода сообщений, обводка (light-only)
 */
.theme-light .form-3gdLxP .scrollableContainer-15eg7h {
    box-shadow: 0 0 0 1px var(--theme-mlight-color-2);
}

/**
 * Поле ввода сообщений, расстояние от краев
 */
.form-3gdLxP {
    padding-left: 8px;
    margin-top: 0.5rem;
}
.channelTextArea-1FufC0 {
    margin-bottom: 8px;
}

/**
 * Поле редактирования сообщений, обводка
 */
.theme-light .channelTextArea-220_Gz {
    border: 1px solid var(--theme-mlight-color-3);
}