
/**
 * Автоскрытие аватаров в уютной теме
 */
@media screen and (max-width: 1300px) {
    .cozyMessage-3V1Y8y .timestampVisibleOnHover-2bQeI4 {
        display: none;
    }
    .cozyMessage-3V1Y8y .avatar-1BDn8e {
        display: none;
    }
    .a11y-font-scaled-down .a11y-font-scaled-down .cozy-3raOZG.wrapper-2a6GCs,
    .messagesWrapper-1sRNjr .cozy-3raOZG.wrapper-2a6GCs {
        padding-left: 10px;
    }
}