
/**
 * Автоскрытие аватаров в уютной теме
 */
@media screen and (max-width: 1300px) {
    .cozyMessage-1DWF9U .timestampVisibleOnHover-9PEuZS {
        display: none;
    }
    .cozyMessage-1DWF9U .avatar-2e8lTP {
        display: none;
    }
    .a11y-font-scaled-down .a11y-font-scaled-down .cozy-VmLDNB.wrapper-30-Nkg,
    .messagesWrapper-RpOMA3 .cozy-VmLDNB.wrapper-30-Nkg {
        padding-left: 5px;
    }
    .message-2CShn3 {
        padding-right: 5px !important;
    }
}