/**
 * Автоуменьшение ширины мемберов до аватаров
 * автоскрытие комнат
 */
@media screen and (max-width: 1100px) and (min-width: 601px) {
    /**
     * Мемберы, скрытие до аватаров
     */
    .membersWrap-3NUR2t {
        position: fixed;
        right: -150px;
        height: calc(100% - 50px);
    }
    /* + заголовок десктопа */
    .platform-win .membersWrap-3NUR2t{
        height: calc(100% - 70px);
    }
    /**
     * Чат, отступ справа.
     * Cмысл ласт потомка:
     * чтобы на приватных беседах не было отступа
     */
    .chatContent-3KubbW:not(:last-child) {
        padding-right: 50px;
    }
    /**
     * Мемберы, открытие при наведении
     */
    .membersWrap-3NUR2t:hover {
        border-left: 1px solid var(--theme-mlight-color-2);
        right: 0;
    }

    /**
     * Панель серверов на передний план, из-за бордера
     */
    .guilds-2JjMmN {
        z-index: 3;
    }
    /**
     * Панели комнат, скрытие
     */
    .sidebar-1tnWFu {
        position: fixed;
        left: -148px;
        z-index: 2;
        height: 100%;
    }
    .platform-win .sidebar-1tnWFu{
        height: calc(100% - 20px);
    }

    /**
     * убираем 1 бордер, так как будут склеены 2:
     * С чата и серверов
     */
    .theme-light .base-2jDfDU {
        border-left: none;
    }
    /**
     * Показ при наведении либо на серверы либо на комнаты
     */
    .guilds-2JjMmN:hover + .base-2jDfDU .sidebar-1tnWFu,
    .sidebar-1tnWFu:hover {
        left: 72px;
        z-index: 100;
        border-right: 1px solid var(--theme-mlight-color-2);
        border-left: 1px solid var(--theme-mlight-color-2);
    }

    /**
     * Фикс прикрепленных сообщений, вылезает влево из-за мелкой ширины
     */
    .layerContainer-2v_Sit > [id*="popout_"] {
        right: 65px !important;
    }
}