/**
 * Участники, отступы
 */
.member-3-YXUe {
    margin-left: 0
}
/**
 * Участники, отступы заголовков
 */
.membersGroup-v9BXpm {
    padding-left: 8px;
    padding-top: 12px;
    height: 36px;
}
