
/**
 * Мемберы, уменьшение заголовков групп и отступов участников
 */
.membersGroup-2eiWxl {
    font-size: 10px;
    padding-left: 4px;
    padding-top: 6px;
    height: 20px;
}
.member-2gU6Ar {
    margin-left: 0;
}