//META{"name":"mLight","description":"Фикс-тема для дискорда https://github.com/LH7/DiscordMLight","author":"LH","version":"0.3.57"}*//

/*

  v0.3
  > Полная пересборка, убран весь легаси мусор
  > Замена оригинальных переменных цветов
  > Теперь скейлится размер шрифта и отступов в настройках, кроме аватаров
  > Убрана анимация сворачивания/разворачивания панелей, теперь синхронно мемберы и комнаты
  > Теперь с хешами заменяющими оригинальные вместо ужасов поисковых селекторов
    + Лучше в плане производительности
    - Хуже в плане совместимости
      Будут ломать каждый билд пересоберу под каждый, все равно они жонглируют классами и структурой.
      Возможно будут ломаться параллельные ветки вроде канари

  В остальном тот же концепт

  Да, я вкурсе про нормализованные da-* селекторы беттердискорда но:
    - это не универсальное решение, не для браузера
    - в коде дискорда много контейнеров с разными хешами, da-* их смешает в одну кучу
  Может в будущем перепишу на стартовую инициализацию селекторов по скрипту, сейчас не приоритет

*/

#off #ucss-code-wrapper { left: 0; }

.theme-light {
    /**************************
     * Стандартные переменные *
     **************************/

    /**
     *  Общий фон, все в белый
     */
    --background-primary: #fff;
    --background-secondary: #FFF;
    --background-secondary-alt: #FFF;
    --background-tertiary: #FFF;

    /**
     * Бекграунд поля ввода
     */
    --channeltextarea-background: #FFF;

    /**
     *  Общий текст
     */
    --text-normal: #000;


    /**
     * Кнопки
     */
    --interactive-normal: #AAA;

    /**
     * Реакции, хеши в комнатах
     */
    --text-muted: #CCC;

    /**
     * Выделенная комната
     */
    --background-modifier-selected: rgba(0,0,0,0.08);

    /**
     * Бордер под верхним заголовком
     */
    --elevation-low: 0 1px 0 #EEE;

    /************************
     * Кастомные переменные *
     ************************/

    /**
     * Просто цвета, по возможности от светлого к темному
     */
    --theme-mlight-color-1: #F7F7F7;
    --theme-mlight-color-2: #EBEBEB;
    --theme-mlight-color-3: #DADADA;
    --theme-mlight-color-4: #AAA;
    --theme-mlight-color-mention: #FAA61A;
}

/**
 * Переопределение цвета для выделения активного сервера
 */
.theme-light .guilds-1SWlCJ {
    --header-primary: var(--theme-mlight-color-4);
}

/**
 * Переопределение цвета для выделения непрочитанных комнат
 */
.theme-light .unread-3zKkbm {
    --interactive-active: var(--theme-mlight-color-4);
}

/**
 * Темная тема, меньше переменных, и в основном свои
 */
.theme-dark {
    /************************
     * Кастомные переменные *
     ************************/

    /**
     * Просто цвета, по возможности от темного к светлому
     */
    --theme-mlight-color-1: #292b2f;
    --theme-mlight-color-2: #444;
    --theme-mlight-color-3: #6d6d6d;
    --theme-mlight-color-mention: #714f15;
}

/**
 * Общий шрифт
 */
::placeholder, body, button, input, select, textarea {
    font-family: Tahoma, Arial, sans-serif;
}

/**
 * Скрытие печатающих
 */
.typing-2GQL18 {
    display: none;
}

/**
 * Аватарки в чате, размер, тень
 */
.a11y-font-scaled-down .avatar-1BDn8e,
.avatar-1BDn8e {
    border-radius: 5px;
    width: 32px;
    height: 32px;
    margin-top: 3px;
    margin-right: 0;
    margin-left: 2px;
}
.theme-light .avatar-1BDn8e {
    box-shadow: 0px 0px 0px 1px var(--theme-mlight-color-2);
}


/**
 * Сообщения, каждое сообщение.
 */
.cozyMessage-3V1Y8y > .container-3FojY8,
.a11y-font-scaled-down .cozyMessage-3V1Y8y > .container-3FojY8{
    padding: 0.125rem 0 0.3rem 40px;
}
.compact-T3H92H > .container-3FojY8,
.a11y-font-scaled-down .compact-T3H92H > .container-3FojY8{
    padding: 0.125rem 0 0.3rem 2.5rem;
}
.a11y-font-scaled-down .cozyMessage-3V1Y8y.mentioned-xhSam7 > .container-3FojY8,
.cozyMessage-3V1Y8y.mentioned-xhSam7 > .container-3FojY8 {
    padding: 0.2rem 0 0.7rem 48px;
}
.a11y-font-scaled-down .container-3FojY8.compact-T3H92H.mentioned-xhSam7,
.container-3FojY8.compact-T3H92H.mentioned-xhSam7{
    padding: 0.2rem 0 0.7rem 2.8rem;
}


/**
 * Сообщения, отступ от первого сообщения
 * По сути отступ от разделителя вниз
 * .group-spacing-N это модификатор из настроек
 */
.group-spacing-0 .cozyMessage-3V1Y8y.groupStart-23k01U { padding-top: 0.1rem; }
.group-spacing-0 .message-2qnXI6.compact-T3H92H.groupStart-23k01U { padding-top: 0.14rem !important; }

.group-spacing-4 .cozyMessage-3V1Y8y.groupStart-23k01U { padding-top: 0.3rem; }
.group-spacing-4 .message-2qnXI6.compact-T3H92H.groupStart-23k01U { padding-top: 0.4rem; }

.group-spacing-8 .cozyMessage-3V1Y8y.groupStart-23k01U { padding-top: 0.5rem; }
.group-spacing-8 .message-2qnXI6.compact-T3H92H.groupStart-23k01U { padding-top: 0.5rem; }

.group-spacing-16 .cozyMessage-3V1Y8y.groupStart-23k01U { padding-top: 0.6rem; }
.group-spacing-16 .message-2qnXI6.compact-T3H92H.groupStart-23k01U { padding-top: 0.7rem; }

.group-spacing-24 .cozyMessage-3V1Y8y.groupStart-23k01U { padding-top: 1.05rem; }
.group-spacing-24 .message-2qnXI6.compact-T3H92H.groupStart-23k01U { padding-top: 1rem; }

/**
 * Отступ от разделителя наверх
 * .group-spacing-N это модификатор из настроек
 */
.group-spacing-0 .cozyMessage-3V1Y8y.groupStart-23k01U { margin-top: 0.1rem !important; }
.group-spacing-0 .message-2qnXI6.compact-T3H92H.groupStart-23k01U { margin-top: 0.0rem !important; }

.group-spacing-4 .cozyMessage-3V1Y8y.groupStart-23k01U { margin-top: 0.5rem !important; }
.group-spacing-4 .message-2qnXI6.compact-T3H92H.groupStart-23k01U { margin-top: 0.3rem !important; }

.group-spacing-8 .cozyMessage-3V1Y8y.groupStart-23k01U { margin-top: 0.9rem !important; }
.group-spacing-8 .message-2qnXI6.compact-T3H92H.groupStart-23k01U { margin-top: 0.45rem !important; }

.group-spacing-16 .cozyMessage-3V1Y8y.groupStart-23k01U { margin-top: 0.7rem !important; }
.group-spacing-16 .message-2qnXI6.compact-T3H92H.groupStart-23k01U { margin-top: 0.7rem !important; }

.group-spacing-24 .cozyMessage-3V1Y8y.groupStart-23k01U { margin-top: 1.2rem !important; }
.group-spacing-24 .message-2qnXI6.compact-T3H92H.groupStart-23k01U { margin-top: 1rem !important; }


/**
 * Чат, отступ слева
 */
.chatContent-a9vAAp {
    padding-left: 5px;
}

/**
 * Разделитель (цвет) между группами сообщений
 * Если это меншн то разделитель убираем.
 */
.cozyMessage-3V1Y8y.groupStart-23k01U:not(.mentioned-xhSam7),
.message-2qnXI6.compact-T3H92H.groupStart-23k01U:not(.mentioned-xhSam7) {
    border-top: 1px solid var(--theme-mlight-color-2);
}

/**
 * Чат, разделитель по датам
 * Убраны линии, и перемещен на разделитель сообщений
 */
.divider-JfaTT5 {
    border-top: none;
    margin-top: 0.0rem !important;
    margin-bottom: 0.0rem !important;
    transform: translateY(0.35em);
}
.divider-JfaTT5 > .content-1o0f9g{
    border: 1px solid var(--theme-mlight-color-1);
}

/**
 * Чат новые сообщения, просто сместить индикатор ниже
 * Для каждого отступа
 */
.group-spacing-24 .divider-JfaTT5.isUnread-3Ef-o9 {
    transform: translateY(0.49rem);
}
.group-spacing-16 .divider-JfaTT5.isUnread-3Ef-o9 {
    transform: translateY(0.25rem);
}
.group-spacing-8 .divider-JfaTT5.isUnread-3Ef-o9 {
    transform: translateY(0.7rem);
}
.group-spacing-4 .divider-JfaTT5.isUnread-3Ef-o9 {
    transform: translateY(0.45rem);
}
.group-spacing-0 .divider-JfaTT5.isUnread-3Ef-o9 {
    transform: translateY(0.15rem);
}
/* в компактной теме немного вверх */
.compact-T3H92H + .divider-JfaTT5 > * {
    transform: translateY(-0.15rem);
}

/**
 * Удаление подсветки сообщений при наведении, кроме ереванов, если это не превью
 */
:not(.preview-2nSL_2) > .cozyMessage-3V1Y8y:not(.mentioned-xhSam7) {
    background-color: var(--background-primary) !important;
}
:not(.preview-2nSL_2) > .compact-T3H92H:not(.mentioned-xhSam7) {
    background-color: var(--background-primary) !important;
}

/**
 * Рамка для ереванов
 */
.cozyMessage-3V1Y8y.mentioned-xhSam7,
.compact-T3H92H.mentioned-xhSam7 {
    box-shadow: inset 0px 0px 0px 1px var(--theme-mlight-color-mention);
}
.localBot-GrCgVt:before, .mentioned-xhSam7:before {
    background-color: var(--theme-mlight-color-mention);
    width: 1px;
}

/**
 * Ник и аватарка, должны быть одинаковы числом со знаком
 * паддинг это ник, маргин аватарка
 */
.cozyMessage-3V1Y8y .header-23xsNx,
.a11y-font-scaled-down .cozyMessage-3V1Y8y .header-23xsNx {
    padding-left: 40px;
    margin-left: -40px;
}

/**
 * Граница отделяющая сервера (light-only)
 */
.theme-light .base-3dtUhz {
    border-left: 1px solid var(--theme-mlight-color-2);
}
/**
 * Граница отделяющая список друзей или комнат от чата (light-only)
 */
.theme-light .sidebar-2K8pFh {
    border-right: 1px solid var(--theme-mlight-color-2);
}

/**
 * Граница отделяющая панель с ником и наушниками
 */
.theme-light .panels-j1Uci_ {
    box-shadow: inset 0 1px 0 0px var(--theme-mlight-color-2);
}

/**
 * Граница отделяющая заголовок приложения (light-only)
 */
.theme-light .titleBar-AC4pGV {
    box-shadow: inset 0px -1px 0px var(--theme-mlight-color-2);
}

/**
 * Кнопки друзей, загрузки, новых серверов
 * Просто обводка (light-only)
 */
.theme-light .listItemWrapper-3X98Pc:not(:hover){
    border-radius: 24px;
    border: 1px dashed var(--theme-mlight-color-3);
}
.theme-light .listItemWrapper-3X98Pc {
    border: 1px solid transparent;
}

/**
 * Превью сообщений, в светлой теме бордер
 */
.theme-light .preview-2nSL_2 {
    border: 1px solid var(--theme-mlight-color-2);
}

/**
 * Непрочитанные комнаты
 */
.modeUnread-1zpFdA .name-3_Dsmg {
    font-weight: 1000;
}

/**
 * выравнивение метки времени компактной темы
 */
.timestampCompact-29LLPQ {
    transform: translateY(-2px);
}

/**
 * Метка времени
 */
.a11y-font-scaled-down .timestampCozyAlt-1Hs08c, .timestampCozyAlt-1Hs08c {
    transform: translateX(0) translateY(0.1rem);
    overflow: hidden;
    width: 3.3em;
    font-size: 10px;
    opacity: 0;
}
.timestampCozy-1HNQR2 {
    opacity: 0;
}
.cozyMessage-3V1Y8y:hover .timestampCozy-1HNQR2 {
    opacity: 1;
}

/**
 * Меню справа от сообщения
 */
.buttons-cl5qTG {
    opacity: 0.7;
}
.buttons-cl5qTG:hover {
    opacity: 1;
}
/* убрать кнопки с быстрыми реакциями, оставить только меню */
.buttons-cl5qTG .emojiButton-jE9tXC,
.buttons-cl5qTG .emojiSeparator-10VgEJ {
    display: none;
}



/**
 * Компактная тема, скрытие повторов ников
 */
.message-2qnXI6.compact-T3H92H:not(.groupStart-23k01U) .username-1A8OIy {
    display: none;
}

/**
 * Компактная тема, выравнивание текста
 */
.message-2qnXI6.compact-T3H92H > .container-3FojY8{
    text-indent: -2.8em;
}

/**
 * Блок кода (light-only)
 */
.theme-light .markup-2BOw-j code {
    border: 1px solid var(--theme-mlight-color-3);
    background: var(--theme-mlight-color-1);
}

/**
 * «Цитаты»
 */
.blockquoteContainer-U5TVEi blockquote {
    padding: 2px 8px 3px 11px;
}

/**
 * Поле ввода сообщений, обводка (light-only)
 */
.theme-light .form-2fGMdU .scrollableContainer-2NUZem {
    box-shadow: 0 0 0 1px var(--theme-mlight-color-2);
}
/**
 * Поле ввода сообщений, расстояние от краев
 */
.form-2fGMdU {
    padding-left: 0.2rem;
    margin-top: 0.5rem;
}
.channelTextArea-rNsIhG {
    margin-bottom: 8px;
}

/**
 * Поле редактирования сообщений, обводка
 */
.theme-light .channelTextArea-2VhZ6z {
    border: 1px solid var(--theme-mlight-color-3);
}

/**
 * Предпросмотр сайта (light-only)
 */
.embedFull-2tM8-- {
    background: var(--theme-mlight-color-1);
    box-shadow: 0 0 0 1px var(--theme-mlight-color-2);
    border-left: 4px solid var(--theme-mlight-color-3) !important;
    margin-top: 0.5rem;
}
/* отступы */
.embedFull-2tM8-- .embedMargin-UO5XwE {
    margin-top: 2px;
}
.embedFull-2tM8-- .embedMedia-1guQoW {
    margin-top: 8px;
}


/**
 * Хз что это, убрать
 * выглядит как огромный отступ после последнего сообщения
 */
.scroller-3sQKXg:after{
    display: none;
}

/**
 * Скругление заголовка сервера, туда же.
 */
.platform-win .sidebar-2K8pFh {
    border-radius: 0;
}

/**
 * Комнаты, меньше ширина
 */
.sidebar-2K8pFh {
    width: 220px;
}

/**
 * Участники, меньше ширина
 */
.membersWrap-2h-GB4 {
    min-width: 200px;
    width: 200px;
}

/**
 * Участники (и юзер на панельке), аватары
 */
/* скругление вместо круга */
.avatar-3uk_u9 .mask-1l8v16 foreignObject,
.avatar-SmRMf2 .mask-1l8v16 foreignObject {
    mask: none;
    border-radius: 5px;
}
/* скругление для совместимости со старым хромом */
.avatar-3uk_u9 .mask-1l8v16 foreignObject img,
.avatar-SmRMf2 .mask-1l8v16 foreignObject img {
    border-radius: 5px;
}
/* обводка чтобы не сливались */
.theme-light .avatar-3uk_u9 foreignObject,
.theme-light .avatar-SmRMf2 foreignObject {
    box-shadow: inset 0px 0px 0px 1px var(--theme-mlight-color-2);
}

/**
 * Участники, отступы
 */
.member-3-YXUe {
    margin-left: 0px
}
/**
 * Участники, отступы заголовков
 */
.membersGroup-v9BXpm {
    padding-left: 8px;
    padding-top: 12px;
    height: 27px;
}


/**
 * Автоуменьшение ширины мемберов до аватаров
 */
@media screen and (max-width: 1100px)  and (min-width: 601px) {
    /**
     * Мемберы, скрытие до аватаров
     */
    .membersWrap-2h-GB4 {
        position: fixed;
        right: -150px;
        height: calc(100% - 50px);
    }
    /* + заголовок десктопа */
    .platform-win .membersWrap-2h-GB4{
        height: calc(100% - 70px);
    }
    /**
     * Чат, отступ справа.
     * Cмысл ласт потомка:
     * чтобы на приватных беседах не было отступа
     */
    .chatContent-a9vAAp:not(:last-child) {
        padding-right: 50px;
    }
    /**
     * Мемберы, уменьшение заголовков групп
     */
    .membersGroup-v9BXpm {
        font-size: 10px;
        padding-left: 4px;
    }
    /**
     * Мемберы, открытие при наведении
     */
    .membersWrap-2h-GB4:hover {
        border-left: 1px solid var(--theme-mlight-color-2);
        right: 0;
    }

    /**
     * Панель серверов на передний план, из-за бордера
     */
    .guilds-1SWlCJ {
        z-index: 3;
    }
    /**
     * Панели комнат, скрытие
     */
    .sidebar-2K8pFh {
        position: fixed;
        left: -148px;
        z-index: 2;
        height: 100%;
    }
    .platform-win .sidebar-2K8pFh{
        height: calc(100% - 20px);
    }

    /**
     * убираем 1 бордер, так как будут склеены 2:
     * С чата и серверов
     */
    .theme-light .base-3dtUhz {
        border-left: none;
    }
    /**
     * Показ при наведении либо на серверы либо на комнаты
     */
    .guilds-1SWlCJ:hover + .base-3dtUhz .sidebar-2K8pFh,
    .sidebar-2K8pFh:hover {
        left: 72px;
        z-index: 100;
        border-right: 1px solid var(--theme-mlight-color-2);
        border-left: 1px solid var(--theme-mlight-color-2);
    }

    /**
     * Фикс заголовка комнат, налезает на комнаты
     * Второе это заголовок друзей
     */
    .title-3qD0b-,
    .container-1r6BKw {
        z-index: 1;
    }
}

/**
 * Автоскрытие аватаров в уютной теме
 * Просто сдвиг влево
 */
@media screen and (max-width: 1300px) {
    .cozyMessage-3V1Y8y > .container-3FojY8,
    .a11y-font-scaled-down .cozyMessage-3V1Y8y > .container-3FojY8 {
        padding-left: 5px;
    }
    .a11y-font-scaled-down .cozyMessage-3V1Y8y.mentioned-xhSam7 > .container-3FojY8,
    .cozyMessage-3V1Y8y.mentioned-xhSam7 > .container-3FojY8{
        padding-left: 5px;
    }
    .timestampCozyAlt-1Hs08c {
        display: none;
    }
}
/**
 * Полное скрытие панелей
 */
@media screen and (max-width: 600px) {
    .guilds-1SWlCJ, .sidebar-2K8pFh, .membersWrap-2h-GB4 {
        display: none;
    }
    .base-3dtUhz {
        left: 0;
    }
}
/* Аналогично коду выше для компактного режима */
body.compact-mode .guilds-1SWlCJ,
body.compact-mode .sidebar-2K8pFh,
body.compact-mode .membersWrap-2h-GB4 {
    display: none;
}
body.compact-mode .base-3dtUhz {
    left: 0;
}
