//META{"name":"mLight","description":"Фикс-тема для дискорда https://github.com/LH7/DiscordMLight","author":"LH","version":"0.2.53"}*//

/**
 * Пустышка для raw импорта css файла
 * первый мета тег для беттер дискорда его портит
 */
@media null { }

/**
 * Автоскрытие панелей
 */
@media screen and (max-width: 600px) {
    .channels-wrap, div[role="dialog"] > div > div[class*="wrapper-"]:first-child, div[class*="membersWrap-"]{
        display: none !important;
    }
    div[class*="base-"]{
        left: 0;
    }
}
@media screen and (max-width: 440px) {
    .header-toolbar{
        display: none;
    }
}
/**
 * Автоскрытие панели комнат если мелкая ширина
 */
@media screen and (max-width: 900px) {
    div[role="dialog"] > div > div[class*="wrapper-"]:first-child{
        z-index: 201;
    }
    div[class*="sidebar-"]{
        z-index: 200;
        position: fixed;
        left: calc(70px - 100%);
        height: calc(100%);
    }
    div[class*="titleBar-"] + div[class*="app-"] div[class*="sidebar-"]{
        height: calc(100% - 18px); /* height title */
    }
    div[role="dialog"] > div > div[class*="wrapper-"]:first-child:hover + div > div > div[class*="sidebar-"]{
        left: 70px;
    }
    div[class*="sidebar-"]{
        transition: left 0.5s 0.3s;
    }
    div[class*="sidebar-"]:hover{
        left: 70px;
    }
}

/**
 * Автоуменьшение панели участников если ширина мелкая
 */
@media screen and (max-width: 1100px) and (min-width: 601px){
    body:not(.compact-mode) div:not(:last-child) > div[class*="messagesWrapper-"] {
        margin-right: 52px;
    }
    body:not(.compact-mode) div[class*="chat-"] > div > div:not(:last-child) > form {
        margin-right: 10px !important;
    }
}
@media screen and (max-width: 1100px) {
    div[class*="membersWrap-"]{
        position: fixed;
        right: 0;
        transform: translateX(calc(100% - 55px));
        transition: transform 0.2s 0.3s;
        height: calc(100% - 57px - 50px); /* title chat bar*/
    }
    div[class*="membersWrap-"] > div {
        border-radius: 0 0 0 10px;
    }
    div[class*="titleBar-"] + div[class*="app-"] div[class*="membersWrap-"]{
        height: calc(100% - 18px - 43px - 2px); /* height title + title chat bar*/
    }
    div[class*="membersWrap-"]:hover{
        transform: translateX(0);
    }
    .theme-light div[class*="membersWrap-"]:hover div[class*="members-"] {
        box-shadow: 0px 0px 0px 1px inset #ebebec;
    }

    div[class*="members-"] div[class*="memberInner-"]{
        transition: opacity 0.3s 0.3s
    }
    div[class*="members-"]:not(:hover) div[class*="memberInner-"]{
        opacity: 0;
    }
    div[class*="members-"] header[class*="membersGroup-"]{
        max-width: 60px;
        transition: max-width 0.2s 0.2s;
    }
    div[class*="members-"]:hover header[class*="membersGroup-"]{
        transition-delay: 0.3s;
        max-width: 200px;
    }
}

/**
 * Force compact on hotkey
 */
body.compact-mode div[class^="sidebar-"],
body.compact-mode div[role="dialog"] > div > div[class*="wrapper-"]:first-child,
body.compact-mode div[class*="membersWrap-"]{
    display: none !important;
}

/**
 * Понятия не имеюю зачем им это скругление, убираем
 */
div[role="dialog"] > div > div[class*="wrapper-"]:first-child {
    border-radius: 0;
}


/**
 * Роли участников
 */
div[class*="membersWrap-"] header[class*="membersGroup-"]{
    margin: 7px 0 !important;
    padding: 5px !important;
    font-family: Tahoma, sans-serif;
    height: 20px;
    font-size: 10px;
    color: #BBB;
}

/* Темный ник в статусе в белой теме */
.theme-light div[class*="sidebar-"] div[class*="nameTag-"] div[class*="title-"] {
    font-weight: normal;
}
.theme-light div[class*="sidebar-"] div[class*="nameTag-"] div[class*="subtext-"] {
    color: #DDD;
}

/**
 * Аватарки чатика, уютной темы
 */
/* сдвиг аватарки влево */
div[class*="headerCozy-"] div[class*="avatar-"] {
    margin: 0 0 0 10px
}
div[class*="avatar-"] svg > foreignObject, div[class*="avatarWrapper-"]:not([class*="avatarWrapperNormal"]) svg > foreignObject, div[class*="avatarSmall-"] svg > foreignObject {
    mask: none !important;
    border-radius: 5px !important;
    width: 30px;
    height: 30px;
}
.theme-light div[class*="avatar-"] svg > foreignObject, .theme-light div[class*="avatarWrapper-"]:not([class*="avatarWrapperNormal"]) svg > foreignObject, .theme-light div[class*="avatarSmall-"] svg > foreignObject {
    width: 32px;
    height: 32px;
    border: 1px solid #EEE;
    box-sizing: border-box;
}
div[class*="avatar-"] svg > foreignObject > img, div[class*="avatarWrapper-"]:not([class*="avatarWrapperNormal"]) svg > foreignObject > img, div[class*="avatarSmall-"] svg > foreignObject > img {
    border-radius: 5px;
}
div[class*="avatar-"], div[class*="avatarSmall-"], div[class*="avatarWrapper-"]:not([class*="avatarWrapperNormal"]) {
    padding-top: 3px;
}

/**
 * Общие стили для компактной темы
 */
/* скрытие повторов ников */
div[class*="messageCompact-"] *{
    font-family: Tahoma, sans-serif;
}
div[class*="messageCompact-"] span[class*="username-"],
div[class*="messageCompact-"] div[class*="markup-"] .mention{
    font-size: 10pt !important;
    font-weight: bold !important;
}
.theme-light div[class*="messageCompact-"] div[class*="markup-"] {
    font-size: 10pt !important;
    color: black !important;
}
.theme-dark div[class*="messageCompact-"] div[class*="markup-"]  {
    font-size: 10pt !important;
}
div[class*="messageCompact-"]:not(:first-child) span[class*="username-"] {
    display: none;
}
div[class*="messageCompact-"]:not(:first-child) h2[class*="headerCompact-"] {
    margin-right: 0;
}
div[class*="messageCompact-"] div[class*="contentCompact-"] > div ~ div[class*="markup-"] {
    margin-left: 45px;
    text-indent: -54px;
}
div[class*="messageCompact-"] > div[class*="contentCompact-"] ~ div[class*="containerCompact-"] {
    margin-left: -33px;
}

div[class*="messages-"] > div[class*="containerCompact-"]{
    padding: 0;
}

/**
 * Многие селекторы очень наркоманские из-за хешей
 */

/**
 * Всплывашки
 */
.theme-light + .tooltips *{
    color: #FFF;
}

/**
 * Темный круг вокруг аватарки, для белых, чтобы не сливались с фоном
 */
.theme-light div[class*="headerCozy-"] div[class*="avatar-"] div[class*="image-"] {
    box-shadow: 0 0 1px 1px #EEE;
}
.theme-light div[class*="avatarSmall-"] div[class*="inner-"]{
    box-shadow: 0 0 1px 1px #EEE;
}

/* тень в левом верхнем углу списка серверов (анрид меншн?) В любом случае он на светлой теме не нужен */
.theme-light div[class*="unreadMentionsBar-"] {
    -webkit-box-shadow: none;
    box-shadow: none;
}


/**
 * Список юзеров (справа)
 * уменьшена ширина
 */
.theme-light div[class*="members-"] {
    background-color: #FFF;
}
div[class*="members-"] div[class*="member-"] div[class*="content-"]{
    padding: 4px;
    margin: 0 0;
    border-radius: 0;
}
div[class*="members-"] div[class*="member-"] div[class*="avatar-"]{
    padding-top: 0px;

}
div[class*="members-"] div[class*="member-"]{
    height: 40px;
}
div[class*="membersWrap-"] {
    min-width: 200px;
    max-width: 300px;
}

/**
 Список юзеров, коррекция аватарок
*/
div[class*="membersWrap"] div[class*="member-"]{
    margin: -2px 1px 1px;
}

/**
 * Цвет списка друзей
 */
.theme-light a[aria-label="Home"]:not(:hover):not([class*="selected-"]) > div[class*="childWrapper-"]{
    background-color: #EEE;
}

/**
 * full
 * Основной чатик
 */
div[class*="containerCozyBounded-"] *,
div[class*="containerCozy-"] *{
    font-family: Tahoma, sans-serif;
}
.theme-light div[class*="containerCozyBounded-"] div[class*="markup-"],
.theme-light div[class*="containerCozy-"] div[class*="markup-"]{
    font-size: 10pt !important;
    color: black !important;
}
.theme-dark div[class*="containerCozyBounded-"] div[class*="markup-"], .theme-dark div[class*="containerCozy-"] div[class*="markup-"]{
    font-size: 10pt !important;
}
/* кнопки */
.theme-light div[class*="containerCozyBounded-"] div[role="button"],
.theme-light div[class*="containerCozy-"] div[role="button"] {
    color: #999 !important;
}
div[class*="containerCozyBounded-"] span[class*="username-"],
div[class*="containerCozy-"] span[class*="username-"],
div[class*="containerCozyBounded-"] div[class*="markup-"] .mention, 
div[class*="containerCozy-"] div[class*="markup-"] .mention{
    font-size: 10pt !important;
    font-weight: bold !important;
}
div[class*="containerCozyBounded-"] div[class*="contentCozy-"],
div[class*="containerCozy-"] div[class*="contentCozy-"]{
    margin-left: 50px;
}
[class*="divider-"] span[class*="dividerContent-"]{
    margin: -17px 0 -5px 0;
}
[class*="divider-"] {
    margin: 5px 10px 5px 10px !important;
}
div[class*="messages-"] > div[class*="containerCozy-"] {
    padding: 0 0 0 0;
    margin: 0;
}
div[class*="messages-"] > div[class*="containerCozyBounded-"] {
    padding: 0 0 0 0;
    margin: 0;
}
.theme-light div[class*="messages-"] time[class*="timestamp-"] {
    color: #c5c5c5 !important;
}
.theme-dark div[class*="messages-"] time[class*="timestamp-"] {
    color: #a7a7a7 !important;
}
div[class*="messages-"] div[class*="containerCozyBounded-"]:not(:hover) time[class*="timestampCozy-"],
div[class*="messages-"] div[class*="containerCozy-"]:not(:hover) time[class*="timestampCozy-"] {
    opacity: 0;
}
div[class*="messages-"] div[class*="messageCompact-"]:not(:hover):not(:first-child) time[class*="timestampCompact-"] {
    opacity: 0;
}


div[class*="messageGroupWrapperOffsetCorrection-"]{
    margin-bottom: -20px;
    margin-left: -10px;
    margin-top: -20px;
}
div[class*="chat-"] form{
    margin: 0 10px;
    box-shadow: none;
}
/* инпут, и хайд печатающих */
div[class*="channelTextArea-"]{
    margin: 8px 0;
    padding: 0;
    border-top: none !important;
}
.theme-light div[class*="channelTextArea-"] > div[class*="inner-"]{
    background-color: #FFF;
    box-shadow: inset 0 0 0 1px #eceeef;
}
.theme-light div[class*="channelTextArea-"] > div[class*="inner-"] button [class*="attachButtonPlus-"]{
    fill: #d8d8d8;
}
.theme-light div[class*="channelTextArea-"] div[class*="buttons-"] button div[class*="contents-"]{
    color: #d8d8d8;
}
.theme-light div[class*="channelTextArea-"] div[class*="buttons-"] button:hover svg[class*="icon-"]{
    color: #888;
}
.theme-light div[class*="channelTextArea-"] input,
.theme-light div[class*="channelTextArea-"] textarea[class*="textArea-"]{
    color: #000;
}
.theme-light div[class*="channelTextArea-"] textarea[class*="textArea-"]::placeholder {
    color: #CCC;
}
form div[class*="typing-"]{
    display: none !important;
}

/**
 * Embed
 */
.theme-light div[class*="embedWrapper-"] {
  border-color: #f1f1f1 !important;
  background-color: #FAFAFA;
  box-shadow: inset 0px 0px 0px 1px #EEE;
}
.theme-dark div[class*="embedWrapper-"] {
  border-color: #e3e5e8 !important;
  background-color: #3d4046;
  box-shadow: inset 0px 0px 0px 1px #42454a;
}


div[class*="embedWrapper-"] div[class*="embedMargin-"]{
  margin-top: 3px;
}
div[class*="embedWrapper-"] div[class*="embedMedia-"]{
  margin-top: 8px;
}
div[class*="embedWrapper-"] div[class*="grid-"]{
  padding: 4px 10px 10px;
}


/**
 * тулбар
 */
div[class*="chat-"] div[class*="toolbar-"] svg > path {
    fill: #BBB;
}
div[class*="chat-"] div[class*="toolbar-"] svg:hover > path {
    fill: #555;
}
div[class*="chat-"] div[class*="toolbar-"] div[class*="searchBar-"] {
    background-color: #FFF;
    box-shadow: inset 0 0 0 1px #eceeef;
}

/**
 * скрывалка аватаров, уже хуже чем было раньше =(
 */
@media screen and (max-width: 1300px) {
    div[class*="containerCozyBounded-"] div[class*="contentCozy-"]{
        margin-left: 10px;
    }
    div[class*="headerCozy-"] div[class*="avatar-"] {
        display: none;
    }
    div[class*="containerCozyBounded-"] span[class*="usernameWrapper-"],
    div[class*="containerCozy-"] span[class*="usernameWrapper-"]{
        margin-left: 10px;
    }
    div[class*="containerCozy-"] > div > div[class*="contentCozy-"],
    h2[class*="headerCozyMeta-"]
    {
        margin-left: 10px;
    }
}


/**
 * Заголовок (необходим плагин темы)
 */
.theme-mLight div[class*="wordmark"] svg path {
    fill: #000;
}
.theme-mLight div[class*="titleBar"]{
    background-color: #FFF;
    box-shadow: inset 0 -1px 0 #eceeef;
}
.theme-mLight #app-mount{
    background-color: #FFF;
}
.theme-mLight div[class*="winButton"] svg polygon{
    fill: #000;
}
.theme-mLight div[class*="winButton"] svg rect{
    stroke: #000;
}


/* упоминания */
.theme-light .unread-mentions-indicator-bottom .unread-mentions-bar,
.theme-light .unread-mentions-indicator-top .unread-mentions-bar {
    box-shadow: 0 0 0 #FFF;
}

/**
 * Панель комнат
 */
div[class*="sidebar-"] {
    width: 220px;
}
.theme-light div[class*="sidebar-"] > div[class*="container-"]{
    background-color: #ffffff;
    box-shadow: inset -1px 0px 0px 0px #eceeef;
}
.theme-light div[class*="sidebar-"]{
    font-family: Tahoma, sans-serif !important;
}
.theme-light div[class*="sidebar-"]>div:last-child:not([class*="side-"]){
    background-color: #ffffff;
    border-top: 1px solid #EEE;
    box-shadow: inset -1px 0px 0px 0px #eceeef;
}

/* ...наркомааааания, в гробу я видал такие селекторы */

/**
 * Ник и описание акка
 */
.theme-light div[class^='accountDetails-'] * {
    color: #333;
}

/**
 * Скроллбары
 */
/* лево-право */
.theme-light div[class^='scrollerWrap-'] div[class^='scroller-']::-webkit-scrollbar-thumb {
    background-color: rgba(140, 140, 140, 0.27);
}
/* сообщения */
.theme-light .messages-wrapper>.scroller-wrap>.scroller::-webkit-scrollbar-thumb {
    background-color: #d1d1d2;
}

/**
 * Кнопки настройки и выключения звука
 */
.theme-light button[aria-label="Unmute"],
.theme-light button[aria-label="Undeafen"],
.theme-light button[aria-label="User Settings"]{
    color: #BBB
}

/**
 * Заголовок Сервера
 */
.theme-light div[class*="chat-"] div[class*="title-"]{
    box-shadow: 0 1px 0 0 #eceeef;
}
.theme-light div[class*="sidebar-"] > div > div:not([class*="bannerVisible-"]) header[class*="header-"]{
    background-color: #fff;
    border-bottom: 0 solid #FFF;
    border-right: 1px solid #eceeef;
    box-shadow: 0 1px 0 0 #eceeef;
}
.theme-light div[class*="sidebar-"] div[class*="privateChannels-"] header[class*="header-"]{
    border-right: none !important;
    box-shadow: none !important;
}

/* картинка комьюнити серверов */
header + div[class*="bannerImage-"] {
    display: none;
}
/* тень надписи комьюнити серверов */
.theme-light header > span[class*="name-"] {
    text-shadow: none !important;
}
/* отступ для мозилы */
div[class*="sidebar-"] > div > div > div[class*="systemPad-"] {
    padding-right: 0 !important;
}

/**
 * Айтемы комнат
 */
.theme-light div[class*="sidebar-"] div[class*="containerDefault-"] div[class*="wrapper-"] > div[class*="content-"] {
    background-color: #FFF;
}
.theme-light div[class*="sidebar-"] div[class*="containerDefault-"] div[class*="wrapper-"] > div[class*="content-"] > div[class*="name-"] {
    color: #888;
}
.theme-light div[class*="sidebar-"] div[class*="containerDefault-"] div[class*="wrapper-"] > div[class*="content-"] > svg > path {
    fill: #CCC;
}
.theme-light div[class*="sidebar-"] div[class*="containerDefault-"] div[class*="wrapper-"] > div[class*="content-"] svg[class*="actionIcon-"] > path {
    fill: #CCC;
}
.theme-light div[class*="sidebar-"] div[class*="containerDefault-"] div[class*="wrapper-"] > div[class*="content-"] svg[class*="actionIcon-"]:hover > path {
    fill: #777;
}
.theme-light div[class*="sidebar-"] div[class*="containerDefault-"] div[class*="wrapper-"]:hover > div[class*="content-"],
.theme-light div[class*="sidebar-"] div[class*="containerDefault-"][class*="selected-"] div[class*="wrapper-"] > div[class*="content-"] {
    background-color: #F1F1F1;
}
.theme-light div[class*="sidebar-"] div[class*="containerDefault-"][class*="selected-"] div[class*="wrapper-"] > div[class*="content-"] > div[class*="name-"] {
    color: #333;
}
.theme-light div[class*="sidebar-"] div[class*="containerDefault-"] div[class*="wrapper-"][class*="modeUnread-"] > div[class*="content-"] > div[class*="name-"] {
    color: #333;
    font-weight: bold;
}
.theme-light div[class*="sidebar-"] div[class*="containerDefault-"] div[class*="wrapper-"][class*="modeMuted-"] > div[class*="content-"] > div[class*="name-"] {
    color: #DDD;
}

.theme-light div[class*="sidebar-"] div[class*="containerDefault-"] div[class*="wrapper-"][class*="clickable-"] > div[class*="name-"] {
    color: #666;
}
.theme-light div[class*="sidebar-"] div[class*="containerDefault-"] div[class*="wrapper-"][class*="clickable-"]:hover > div[class*="name-"] {
    color: #333;
}
.theme-light div[class*="sidebar-"] div[class*="containerDefault-"] div[class*="wrapper-"][class*="clickable-"] > svg[class*="icon-"] > path {
    fill: #CCC;
}
.theme-light div[class*="sidebar-"] div[class*="containerDefault-"] div[class*="wrapper-"][class*="clickable-"]:hover > svg[class*="icon-"] > path {
    fill: #777;
}
.theme-light div[class*="sidebar-"] div[class*="containerDefault-"] div[class*="wrapper-"][class*="clickable-"]:hover > div[class*="children-"] svg > polygon {
    fill: #777;
}

.theme-light div[class*="sidebar-"] div[class*="containerDefault-"] div[class*="wrapper-"] > div[class*="content-"] > div[class*="children-"] > div[class*="userLimit-"] > div > span[class*="users-"] {
    background-color: #EEE;
}
.theme-light div[class*="sidebar-"] div[class*="containerDefault-"] div[class*="wrapper-"] > div[class*="content-"] > div[class*="children-"] > div[class*="userLimit-"] > div > span[class*="total-"] {
    background-color: #E5E5E5;
}
.theme-light div[class*="sidebar-"] div[class*="containerDefault-"] div[class*="wrapper-"] > div[class*="content-"] > div[class*="children-"] > div[class*="userLimit-"] > div > span[class*="total-"]::after {
    border-right-color: #E5E5E5;
}

.theme-light div[class*="sidebar-"] div[class*="containerDefault-"] div[class*="list-"] > div > div[class*="voiceUser-"]:hover > div[class*="content-"] {
    background-color: #EEE;
}
.theme-light div[class*="sidebar-"] div[class*="containerDefault-"] div[class*="list-"] > div > div[class*="voiceUser-"]:hover > div[class*="content-"] > div[class*="username-"] {
    color: #999;
}
.theme-light div[class*="iconVisibility-"] [class*="unread-"]{
    background-color: #CCC;
}
.theme-light div[class*="iconVisibility-"] button[aria-label="Create Channel"] {
    display: none;
}
.theme-light div[class*="iconVisibility-"]:hover button[aria-label="Create Channel"] {
    color: #CCC;
    display: block;
}

/*.theme-light div[class*="bannerVisible-"] div[class*="animatedContainer-"]{
  display: none;
}*/

/**
 * Боковая панель, саамая левая с выбором сервера
 */
.theme-light div[role="dialog"] > div > div[class*="wrapper-"]:first-child *{
    font-family: Tahoma, sans-serif !important;
}
.theme-light div[role="dialog"] > div > div[class*="wrapper-"]:first-child {
    box-shadow: -1px 0 0 0 #EEE inset;
}
.theme-light div[role="dialog"] > div > div[class*="wrapper-"]:first-child >  div:not([class*="unreadMentionsIndicatorTop-"]) > div {
    background: #FFF;
    max-width: 71px;
}
.theme-light div[role="dialog"] > div > div[class*="wrapper-"]:first-child div[class*="guildSeparator-"] {
    background: #dee1e6;
    height: 1px;
}
.theme-light div[role="dialog"] > div > div[class*="wrapper-"]:first-child div[class*="circleIconButton-"] {
    border-radius: 50%;
    background: #FFF;
    color: #c5c5c5;
    border: 1px dashed #cacbcc;
}
.theme-light div[role="dialog"] > div > div[class*="wrapper-"]:first-child div[class*="circleIconButton-"] span {
    font-size: 21px;
}
.theme-light div[role="dialog"] > div > div[class*="wrapper-"]:first-child div[class*="circleIconButton-"]:hover {
    background: #fbfbfb;
    color: #777777;
    border-color: #7d7b7b;
}

.theme-light div[role="dialog"] > div > div[class*="wrapper-"]:first-child div[class*="pill-"] > span[class*="item-"]{
    background: #BBB;
}

/**
 *  Инпут поиска в контактах
 */
.theme-light div[class*="privateChannels-"] div[class*="searchBar-"] > div[class*="searchBarComponent-"] {
    background-color: white !important;
    box-shadow: inset 0 0 0 1px #eceeef;

}
.theme-light div[class*="privateChannels-"] div[class*="searchBar-"] {
    background-color: #FFF;
    border: 1px solid transparent;
    border-right: 1px solid #e3e5e8;
    border-radius: 0;
    box-shadow: inset 0px -1px 0px #e3e5e8;
}

/**
 * Список контактов
 */
.theme-light div[class*="privateChannels-"] > div[class*="themeGhostHairline-"]{
    background: #FFF;
    border-right: 1px solid #e3e5e8;
}
.theme-light div[class*="privateChannels-"]{
    --background-secondary: #FFF;
}

/**
 * Тень у френдов
 */
.theme-light div[class*="base-"] > div[class*="content-"] > div[class*="container-"]  > div[class*="themed-"]{
    box-shadow: 0px 1px 0px 0px #e3e5e8;
}

/**
 * Фикс кругов и бордеров аватаров/статусов при наведении/выделении
 */
.theme-light .private-channels .channel:hover a .avatar-small .status,
.theme-light .private-channels .channel.selected a .avatar-small .status{
    border: 2px solid #F1F1F1;
}
.theme-light .private-channels .channel:hover .avatar-small,
.theme-light .private-channels .channel.selected .avatar-small{
    box-shadow: none;
}

/**
 * better discord, список плагинов, тем
 */
.theme-light .ui-standard-sidebar-view .bda-slist li{
    background: #f3f3f3;
    border-bottom: 1px solid #e4e4e4;
}
.theme-light .ui-standard-sidebar-view .bda-slist li:last-child{
    background: #f3f3f3;
    border-bottom: 1px solid transparent;
}
.theme-light .ui-standard-sidebar-view .bda-slist li:nth-child(odd) {
    background: #f5f5f5;
    border-top: 1px solid transparent;
}
.theme-light .ui-standard-sidebar-view .bda-slist .bda-description{
    border-top: 1px solid #dcdcdc;
}
/* Настройки */
.theme-light #bd-settings-sidebar .ui-tab-bar-item:not(.selected) {
    color: #72767d;
}
.theme-light #bd-settings-sidebar .ui-tab-bar-header {
    color: #b9bbbe;
    font-weight: bold;
}
.theme-light #bd-settings-sidebar .ui-tab-bar-item:hover:not(.selected) {
    color: #4f545c;
    background-color: rgba(79,84,92,.1);
}
/* ui */
.theme-light #bd-settingspane-container h2.ui-form-title {
    color: #72767d;
}
.theme-light #bd-settingspane-container .ui-switch-item h3 {
    color: #81858b;
}
.theme-light #bd-settingspane-container .ui-switch-item .style-description {
    color: #bec5d2;
}


/**
 * Возврат шрифта в блоке кода
 */
code, code *{
    font-family: Menlo, Consolas, Monaco, monospace !important;
    font-size: 12px    !important;
    line-height: 14px  !important;
}

.theme-light div[class*="markup-"] code.inline {
    background: #f8f9f9 !important;
    color: #657b83;
    box-shadow: inset 0 0 1px #efefef;
    border: 1px solid #efefef;
}
.theme-dark div[class*="markup-"] code.inline {
    background: #2f3136 !important;
    color: #839496;
    box-shadow: inset 0 0 1px #efefef;
    border: 1px solid rgba(32,34,37,.3);
}


/**
 * Плагин цитат
 */

/* Возврат шрифта */
.message-group .citar-btn {
    font-family: "Segoe MDL2 Assets", "Whitney" !important;
}

/* кнопка цитаты */
.theme-light div[class*="messageCozy"] .citar-btn {
    background-color: #ebebeb;
}
.theme-dark div[class*="messageCozy"] .citar-btn {
    background-color: #2f3136;
}

/* полоса цитаты */
.theme-light div[class*="message"] [class^="embedPill-"] {
    background-color: #f1f1f1 !important;
}
.theme-dark div[class*="message"] [class^="embedPill-"] {
    background-color: #777 !important;
}

/**
 * Web версия
 */
/* разделитель перед кнопкой загрузки */
.theme-light div[role="dialog"] > div > div[class*="wrapper-"]:first-child [class*="downloadAppButton-"]:after {
    background-color: #dee1e6;
    height: 1px;
}
.theme-light div[role="dialog"] > div > div[class*="wrapper-"]:first-child [class*="downloadAppButton-"] {
    color: #BBB;
}
.theme-light div[role="dialog"] > div > div[class*="wrapper-"]:first-child [class*="downloadAppButton-"] svg circle{
    box-shadow: inset 0 0 0 1px #111
}
.theme-light div[role="dialog"] > div > div[class*="wrapper-"]:first-child [class*="downloadAppButton-"] use{
    fill: #FFF;
    stroke: #FFF;
}
.theme-light div[role="dialog"] > div > div[class*="wrapper-"]:first-child [class*="downloadAppButton-"]:hover use{
    fill: #FAFAFA;
}
.theme-light div[role="dialog"] > div > div[class*="wrapper-"]:first-child [class*="downloadAppButton-"] svg{
    border-radius: 25px;
    border: 1px dashed #e8e8e8;
}
.theme-light div[role="dialog"] > div > div[class*="wrapper-"]:first-child [class*="downloadAppButton-"]:hover svg{
    border-radius: 25px;
    border: 1px dashed #a2a2a2;
}
.theme-light div[role="dialog"] > div > div[class*="wrapper-"]:first-child [class*="downloadAppButton-"] path{
    fill: #BBB;
}
.theme-light div[role="dialog"] > div > div[class*="wrapper-"]:first-child [class*="downloadAppButton-"]:hover path:last-child{
    fill: rgb(67, 181, 129);
}

/* ереваны */
div[class*="isMentionedCozy-"] {
    margin-left: 7px;
}

span[class*="usernameWrapper-"] span[class*="botTagCozy-"],
span[class*="usernameWrapper-"] span[class*="botTagCompact-"] {
    font-size: 9px !important;
    padding: 2px 3px
}

/**
 * Исправления для мозиллы
 */

/* Скролл комнат... серьезно... вы маскируете стандартный скроллбар? %) */
.theme-light div[class*="sidebar-"] div[class*="scrollbar-"]::before,
.theme-light div[class*="sidebar-"] div[class*="scrollbar-"] > div[class*="pad-"]::before{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #FFF;
    content: "";
}
.theme-light div[class*="sidebar-"] div[class*="scrollbar-"] > div[class*="pad-"]{
    left: -3px;
    width: 3px;
}
.theme-light div[class*="sidebar-"] div[class*="scrollbar-"] > div[class*="thumb-"]{
    background-color: #D5D5D5 !important;
}

div[class*="membersWrap"] div[class*="member-"]{
    margin: 4px 1px 4px;
}